.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.margin-left {
  margin-left: 20px !important;
}

.span {
  padding-right: 0.5rem;
  cursor: pointer;
}

.margin-right {
  margin-right: 20px; /* Adjust this value as needed */
  margin-left: 20px !important;
}
